.parentDiv {
  flex-direction: column;
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

.balanceHeader {
  text-align: center;
  position: relative;
  margin-top: 0;
  top: 1%;
  color: #1b3b77;
  margin: 0px;
  left: 0;
  right: 0;
}

.amount {
  text-align: center;
  padding-top: 80px;
  /* top: 100px; */
  color: #2c81b5;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.whitespaceDiv {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.errorMessage {
  padding-top: 30px;
  font-style: oblique;
  text-align: center;
}

body {
  height: 100%
}
