.parentDiv{
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  display: flex;
}

.blueSpan {
  top: 0px;
  left: 0px;
  right: 0px;
  color: #2c81b5;
}

.confirmHeader {
  top: 0px;
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  left: 0px;
  right: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.formatLabel {
  display: inline-block;
  float: left;
  clear: left;
  width: 120px;
  text-align: right;
  font-weight: 450;
}

.formatInput {
  display: inline-block;
  float: left;
  font-weight: 300;
}

.recipientDiv {
 padding-top: 10px;
 padding-bottom: 18px;
 flex-grow: 0;
 flex-shrink: 1;
 flex-basis: auto;
 text-align: right;
}

.amountDiv {
  padding-top: 18px;
  padding-bottom: 18px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: right;
}

.messageDiv {
  padding-top: 18px;
  padding-bottom: 18px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: right;
}

.deadlineDiv {
  padding-top: 18px;
  padding-bottom: 18px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: right;
}


.editButton {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  left: 0px;
  right: 0px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.whitespaceDiv {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.confirmButton {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0px;
    right: 0px;
    text-align: center;
    bottom: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.errorMessage {
  padding-top: 30px;
  font-style: oblique;
  text-align: center;
}
