.BlueSpan {
  top: 0px;
  left: 0px;
  right: 0px;
  color: #2c81b5;
}

.confirm-header {
  top: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

.recipient {

}
