.everything {
  padding-top: 50px;
}

.header-design {
  width: 100%;
  height: 70px;
  background-color: #1b3b77;
}

.image {
  padding-top: 7px;
  text-align: center;
}

.friendText {
  padding-top: 15px;
  position: absolute;
  top: 110px;
  left: 50px;
  right: 50px;
}

.amountText {
  padding-top: 15px;
  position: absolute;
  top: 195px;
  left: 50px;
  right: 50px;
}

.messageField {
  position: absolute;
  top: 280px;
  left: 50px;
  right: 50px;
  padding-top: 15px;
}

.date {
  padding-top: 30px;
  position: absolute;
  top: 365px;
  left: 50px;
  right: 50px;
}

.SendButtonDesign {
  position: absolute;
  width: 100%;
  top: 500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
