#logInButton{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 360px;
}

.parentDiv {
  flex-direction: column;
  display: flex;
  height: 100vh;
  max-height: 100vh;
}

.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  color: #fff;
  background-color: #1b3b77;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.appBar {
  elevation: 0;
}

.signUp {
  text-align: center;
}

.textfield {
  padding-top: 30px;
}

.whitespaceDiv {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.noFlex {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.LogInusername {
  padding-top: 30px;
  left: 0;
  right:0;
  margin:0;
  top: 240px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.LogInpassword {
  padding-top: 30px;
  left: 0;
  right:0;
  margin:0;
  top: 340px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
