.App-logo {
  animation-name: App-logo-spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 17%;
  margin-left: auto;
  margin-right: auto;
}

#logInButton{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 53%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
