
.App-logo{
  animation-name: App-logo-spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  position: absolute;
  left:0;
  right: 0;
  top:55%
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
