.email{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 32%;
}
.username{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 42%;
}

.password1{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 52%;
}

.password2{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 62%;
}

.createAccountButton{
  padding-top: 30px;
  position: absolute;
  left: 0;
  right:0;
  margin:0;
  top: 72%;
}
